# Overview

My impression of fake news is that they consist of consparicy theory which explain why target readers are suffering and/or click bites. So my hypothesis is that fake news have specific keywords that generally catch eyes or arouse certain strong emotion to certain target groups.
In such case, we can try naive bayes classifier to identify such keywords from training and detect fake news based on statistics of those keywords.

For current draft version, I used dataset from kaggle. One can try collect further data by web scraping.

In [38]:
import pandas as pd
import numpy as np
import re
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk import pos_tag, RegexpParser
from nltk.corpus import stopwords
from collections import Counter

In [39]:
df = pd.read_csv('train.csv')

# id: unique id for a news article
# title: the title of a news article
# author: author of the news article
# text: the text of the article; could be incomplete
# label: a label that marks the article as potentially unreliable

    # 1: unreliable
    # 0: reliable

## EDA

In [40]:
df.head(10)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0
6,6,Life: Life Of Luxury: Elton John’s 6 Favorite ...,NaN,Ever wonder how Britain’s most iconic pop pian...,1
7,7,Benoît Hamon Wins French Socialist Party’s Pre...,Alissa J. Rubin,"PARIS — France chose an idealistic, traditi...",0
8,8,Excerpts From a Draft Script for Donald Trump’...,NaN,Donald J. Trump is scheduled to make a highly ...,0
9,9,"A Back-Channel Plan for Ukraine and Russia, Co...",Megan Twohey and Scott Shane,A week before Michael T. Flynn resigned as nat...,0

In [41]:
df.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

10% of articles don't have author. I wonder if that can be characteristics of fake news.

In [43]:
df.fillna({'author':'Empty','title':'Empty','text':'Empty'},inplace=True)

In [44]:
df[df.author == 'Empty'].describe()

                 id        label
count   1957.000000  1957.000000
mean   10292.462954     0.986714
std     6029.266152     0.114524
min        6.000000     0.000000
25%     5124.000000     1.000000
50%    10242.000000     1.000000
75%    15458.000000     1.000000
max    20786.000000     1.000000

99% of news that cannot specify author are fake. It can be a strong feature.

In [56]:
# Get a random text
text = df.iloc[6][3]

# Sentence tokenize
text = sent_tokenize(text)

# Part of speech tagging
pos_text = []

# Stop word removal
stop_words = set(stopwords.words('english'))


for sentence in text:
    
    sentence = re.sub('\W+',' ',sentence)
    sentence = sentence.lower()
    
    sentence = word_tokenize(sentence)
    
    keywords = [word for word in sentence if word not in stop_words]
    
    keywords = pos_tag(keywords)
    pos_text.append(keywords)
    
    

def chunk_counter(pos_text, gabbr='NP', n_chunk=30):

    grammar = ''

    if gabbr == 'NP':
        grammar = "NP: {<DT>?<JJ>*<NN>}" # noun
    elif gabbr == 'VPa':
        grammar = "VPa: {<DT>?<JJ>*<NN><VB.*><RB.?>?}"
    elif gabbr == 'VPb':
        grammar = "VPb: {<VB.*><DT>?<JJ>*<NN><RB.?>?}" 
    else:
        print('Incorrect gabbr')
        return False
        
    # Chunk phrases
    parser = RegexpParser(grammar)
    
    chunks = []
    
    for sentence in pos_text:
        
        chunk = parser.parse(sentence)
        
        for subtree in chunk.subtrees(filter=lambda t: t.label() == gabbr):
            chunks.append(tuple(subtree))
        
    # Count phrases
    counter = Counter()

    for chunk in chunks:
        counter[chunk] += 1

    return counter.most_common(n_chunk)

print(chunk_counter(pos_text, gabbr='VPb'))

[((('sharks', 'VBZ'), ('sir', 'JJ'), ('elton', 'NN')), 1), ((('stare', 'VBP'), ('pass', 'JJ'), ('time', 'NN')), 1), ((('swimming', 'VBG'), ('sit', 'NN')), 1), ((('see', 'VBP'), ('man', 'NN')), 1), ((('living', 'VBG'), ('lap', 'JJ'), ('luxury', 'NN'), ('immediately', 'RB')), 1), ((('tapes', 'VBZ'), ('photo', 'NN')), 1), ((('darting', 'VBG'), ('ocean', 'JJ'), ('window', 'NN')), 1), ((('selling', 'VBG'), ('artist', 'NN')), 1), ((('known', 'VBN'), ('pull', 'JJ'), ('window', 'NN')), 1), ((('retract', 'VB'), ('mark', 'NN')), 1), ((('leaping', 'VBG'), ('air', 'NN')), 1), ((('instructed', 'VBD'), ('place', 'NN')), 1), ((('breaching', 'VBG'), ('great', 'JJ'), ('white', 'JJ'), ('elton', 'NN')), 1), ((('back', 'VBP'), ('pocket', 'NN'), ('even', 'RB')), 1), ((('loves', 'VBZ'), ('pull', 'JJ'), ('image', 'NN')), 1), ((('acquired', 'VBD'), ('shark', 'NN')), 1), ((('flying', 'VBG'), ('london', 'JJ'), ('perform', 'NN')), 1), ((('say', 'VBP'), ('sir', 'JJ'), ('elton', 'NN')), 1), ((('turns', 'VBZ'), ('every', 'DT'), ('single', 'JJ'), ('overhead', 'NN')), 1), ((('magnifying', 'VBG'), ('glass', 'NN')), 1), ((('handle', 'VB'), ('turbulence', 'NN')), 1), ((('straight', 'VBD'), ('turbulence', 'NN')), 1), ((('adores', 'VBZ'), ('poster', 'NN')), 1), ((('see', 'VB'), ('film', 'NN')), 1), ((('tracing', 'VBG'), ('shark', 'NN')), 1), ((('calming', 'VBG'), ('regularity', 'NN')), 1), ((('flying', 'VBG'), ('london', 'JJ'), ('distant', 'JJ'), ('corner', 'NN')), 1), ((('fly', 'VBP'), ('sir', 'JJ'), ('elton', 'NN')), 1), ((('going', 'VBG'), ('airport', 'JJ'), ('hand', 'NN'), ('visibly', 'RB')), 1)]

After playing with the 'chunk_counter' function for a few sentences, I noticed that real news have more specific (you can guess topic based on keywords) and objective terms whereas fake news have more subjective and plain (no idea what's topic based on frequent keywords) terms.